@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face {
    font-family: LineIcons;
    src: url('../fonts/LineIcons/LineIcons.ttf');
}


@font-face{
	font-family: 'MyFont';
	src: url('../fonts/my_font.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/my_font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/my_font.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/my_font.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/my_font.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
}